:root {
  --uno-dark-background: #282c34;
  --uno-dark-foreground: #abb2bf;
  --uno-dark-border: #3e4451;
  --uno-dark-primary: #61afef;
  --uno-dark-success: #98c379;
  --uno-dark-info: #56b6c2;
  --uno-dark-warning: #e5c07b;
  --uno-dark-danger: #e06c75;
}

:root.dark {
  background-color: var(--uno-dark-background);
  color: var(--uno-dark-foreground);
  border-color: var(--uno-dark-border);
}

:root.dark .primary {
  color: var(--uno-dark-primary);
}

:root.dark .success {
  color: var(--uno-dark-success);
}

:root.dark .info {
  color: var(--uno-dark-info);
}

:root.dark .warning {
  color: var(--uno-dark-warning);
}

:root.dark .danger {
  color: var(--uno-dark-danger);
}
